.play-video {
    flex-basis: 69%;
}

.play-video iframe {
    width: 100%;
    height: 37vw;
}

.play-video h3 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 22px;
}

.play-video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}

.play-video-info img {
    width: 20px;
    margin-right: 8px;
}

.play-video-info span {
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}

.play-video hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}

.publisher {
    display: flex;
    align-items: center;
    margin: 20px;
}

.publisher div {
    flex: 1;
    line-height: 18px;
}

.publisher img {
    width: 40px;
    margin-right: 15px;
    border-radius: 50px;
}

.publisher div p {
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.publisher div span {
    color: #5a5a5a;
    font-size: 13px;
}

.publisher button {
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 8px 30px;
    outline: 0;
    border: 0;
}

.vid-description {
    padding-left: 55px;
    margin: 15px 0;
}

.vid-description p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}

.vid-description h4 {
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}

.comment {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}

.comment img {
    width: 35px;
    margin-right: 15px;
    border-radius: 50px;
}

.comment h3 {
    margin-top: 2;
    font-size: 14px;
}

.comment h3 span {
    color: #5a5a5a;
    font-size: 12px;
    font-weight: 500;
    margin-left: 8px;
}

.comment-action {
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}

.comment-action img {
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}

.comment-action span {
    margin-right: 20px;
    color: #5a5a5a;
}

@media (max-width: 900px) {
    .play-video {
        flex-basis: 100%;
    }

    .play-video-info iframe {
        width: 100%;
        height: 50vw;
    }

    .vid-description {
        padding-left: 0;
    }

    .play-video .play-video-info span {
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }

    .recommended {
        flex-basis: 100%;
    }

    .side-video-list img {
        flex-basis: 49%;
        width: 50%;
    }

    .vid-info {
        flex-basis: 49%;
    }
}
