nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: lightgray;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-left .menu_icon{

    width: 22px;
    margin-right: 25px;
}

.nav-left .logo{
    width: 130px;
}

.nav-middle .search-box{
    border: 1px solid beige;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background:transparent;
}


.nav-middle .search-box img{
    width: 15px;
   
}

.nav-right img{
    width: 25px;
    margin-right: 25px;
}

.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
}

@media(max-width:900px)
{
    .menu_icon{
        display: none;
    }
    .nav-right img{
        display: none;
    }

    .nav-right .user-icon{
        display: block;
        width: 30px;
    }
    .logo{
        width: 90px;
    }
    .nav-middle .search-box input{
        width: 100px;
        
    }
}