.recommended{
    flex-basis: 30%;
}

.side-video-list{
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
}

.side-video-list img{
flex-basis: 49%;
width: 50%;
}

.vid-info{
    flex-basis: 49%; 
}

.vid-info h4{
font-size: 13px;
margin-bottom: 5px;
}

@media (max-width:900px) {
    .recommended{
       flex-basis: 100%;

    }
    
}