*{
    margin: 0;
    padding: 0;
    box-sizing: border;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: lightslategrey;
}

img{
    cursor: pointer;
}

.flex-div{
    display: flex;
    align-items: center;
}